<!DOCTYPE html>
<html>
<head>

<title>Happy Crafting</title>

</head>

<body>
  <div class="jumbotron">
    <div class="container text-center">
      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <%= "Error in form" %>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li> 
            <% end %>
          </ul>
        <% end %>
      
        <%= f.label :email %><br/>
        <%= f.text_field :email %><br/>
        <%= f.label :password %><br/>
        <%= f.password_field :password %><br/>
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation %><br/>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</body>

</html>