<!DOCTYPE html>
<html>
<head>

<title>Happy Crafting</title>

</head>

<body>
  <div class="bg-top">
    <div class="container text-center">
      <div class="text=center">
      <h1>Tutorials</h1>
      
      <!-- Search form -->
      <p id="notice"><%= flash[:notice] %></p>

      <%= form_tag tutorials_path, :method => :get do %>
      <p>
        <%= text_field_tag :search, params[:search] %> <%= submit_tag "Search!" %>
      </p>
      <% end %>

      <!-- Add New Tutorial button -->
      <%= link_to "Add New Tutorial", new_tutorial_path, class: "btn btn-info" %> <br/><br/>
    </div>

      <!-- Display search result -->
      <div class="text-left">
        <% @search.results.each do |result| %>  
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="pull-right"><small> uploaded by <%= result.user.name %></small></div>
              <%= result.title  %>
            </div>
            <div class="panel-body">
              <%= result.description %>
            </div>
            
          </div>
        <% end %>
      </div>

    </div>
  </div>
</body>

</html>