<!DOCTYPE html>
<html>
<head>

<title>Happy Crafting</title>

</head>

<body>
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Tutorials</h1>
      <div class="text-left">
        <% @tutorials.each do |tutorial| %>  
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="pull-right"><small> by <%= tutorial.user.name %></small></div>
              <%= tutorial.title  %>
            </div>
            <div class="panel-body">
              <%= tutorial.description %>
              <div class="pull-right">
                <%= link_to 'Edit', edit_tutorial_path(tutorial.id), method: :get, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
                <%= link_to 'Delete', delete_tutorial_path(tutorial.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
              </div>
            </div>
            
          </div>
        <% end %>
      </div>  
      <%= link_to "Add New Tutorial", new_tutorial_path, class: "btn btn-info" %>
    </div>
  </div>
</body>

</html>
