<!DOCTYPE html>
<html>
<head>

<title>Happy Crafting</title>

</head>

<body>
  <div class="jumbotron">
    <div class="container text-center">
      <h1>New Tutorial</h1>
      <%= form_for(@tutorial) do |v| %>  
      <%= v.label :title %><br/>
      <%= v.text_area :title, :size => "50x1" %><br/>  
      <%= v.label :description %><br/>  
      <%= v.text_area :description, :size => "50x8" %><br/>  
      <%= v.submit "Submit", class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
</body>

</html>