<!DOCTYPE html>
<!-- Display all tutorials that belong to current user -->
<html>
<head>

<title>Happy Crafting</title>

</head>

<body>
  <div class="bg-top">
    <div class="container">
        <div class="text-center">
        <h1>My Tutorials</h1>
        <%= link_to "Add New Tutorial", new_tutorial_path, class: "btn btn-info" %>
      </div>
      <div class="text-left">
        <% @user_tutorials.each do |tutorial| %>  
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong><%= tutorial.title  %></strong>
            </div>
            <div class="panel-body">
              <%= tutorial.description %>
              <div class="pull-right">
                <%= link_to 'Edit', edit_tutorial_path(tutorial.id), method: :get, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
                <%= link_to 'Delete', delete_tutorial_path(tutorial.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
              </div>
            </div>
            
          </div>
        <% end %>
      </div>  
      
    </div>
  </div>
</body>

</html>