<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to "Happy Crafting", root_path, id: "logo" %></li>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Tutorials", tutorials_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
      
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sign Up", signup_path %></li>
      <li><%= link_to "Log In", login_path %></li>
    </ul>
  </div>
</header>